{% extends 'base.html.twig' %}

{% block title %}{{ about.title }}{% endblock %}

{% block description %}
    {{about.description|striptags|raw}}
{% endblock %}

{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown"></h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{{ path('home') }}">Accueil</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">{{ about.title }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <div class="about-img">
                        {% if about.firstFile %}
                            <img class="img-fluid" src="{{ asset(photo_directory ~'/'~about.firstFile.name) }}" alt="Image {{ about.firstFile.name }}">
                        {% endif %}
                        {% if about.secondFile %}
                            <img class="img-fluid" src="{{ asset(photo_directory ~'/'~about.secondFile.name) }}" alt="Image {{ about.secondFile.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                    <h4 class="section-title">{{ about.title }}</h4>
                    <p class="mb-4">
                        {{ about.description|raw }}
                    </p>
                    <div class="d-flex align-items-center mb-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
                            <h1 class="display-1 mb-n2" data-toggle="counter-up">{{ about.year }}</h1>
                        </div>
                        <div class="ps-4">
                            <h3>Années</h3>
                            <h3 class="mb-0">Experience</h3>
                        </div>
                    </div>
{#                    <a class="btn btn-primary py-3 px-5" href="">Read More</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
