{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}
	Nous sommes une équipe passionnée d'ingénieurs en génie civil spécialisée dans l'architecture des bâtiments.
	Avec plusieurs années d'expérience à notre actif, nous offrons des services de conception, de planification et
	de gestion de projets pour répondre aux besoins de nos clients.
{% endblock %}


{% block body %}
	<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="owl-carousel header-carousel position-relative">
			{% for mission in missions %}
				<div class="owl-carousel-item position-relative" data-dot="<img src='{{ mission.file ? asset(photo_directory ~'/'~ mission.file.name) }}'>">
					<img class="img-fluid cs-homepage-img" width='1905' src="{{ mission.file ? asset(photo_directory ~'/'~ mission.file.name) }}" alt="">
					<div class="owl-carousel-inner">
						<div class="container">
							<div class="row justify-content-start">
								<div class="col-10 col-lg-8 cs-color-homepage">
									<h1 class="display-1 text-white animated slideInDown">
										{{ mission.title }}
									</h1>
									<p class="fs-5 fw-medium text-white mb-4 pb-3">
										{{ mission.content|u.truncate(200, '...')|raw }}
									</p>
									<a href="{{ path('front_mission_show', {
										slug: mission.slug
									}) }}" class="btn btn-primary py-3 px-5 animated slideInLeft">Lire plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
	</div>
{% endblock %}