{% extends 'base_admin.html.twig' %}

{% block title %}Liste des Tags{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('admin_dash_board_index') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">{{ block('title') }}</li>
</ol>

<div>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Flux</h1>
    <div class="text-right">
        <a class="btn btn-outline-primary my-3" href="{{ path('app_back_office_flux_rss_new') }}">
            <span class="fa fa-plus-square"></span>
            Nouveau Flux
        </a>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Lien</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for flux_rss in flux_rsses %}
                        <tr>
                            <td>{{ flux_rss.title }}</td>
                            <td>{{ flux_rss.link }}</td>
                            <td>
                                <a href="{{ path('app_back_office_flux_rss_edit', {'id': flux_rss.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Pas de flux disponible</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

